.BookingInfo {
    background-color: white;
    padding: 1rem 2rem;
    border: .5px solid #C4D5EE;
    font-size: 18px;
    border-radius: 3px;
}
#BookingTables {
    display: inline-flex;
    margin-top: 3rem;
    gap: 1rem;
}

.BookingInfo .label {
    font-weight: 600;
}
/* TABLA CANDIDATO */

#InfoCandidato tbody tr td {
    padding: .5rem 1rem ;
    justify-self: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.212);
}
/* TABLA MASCOTA */
#InfoMascota  tbody {
    justify-self: center;
}
#InfoMascota  tbody tr td{
    padding: .5rem 1rem ;
    border-bottom: 1px solid rgba(128, 128, 128, 0.212);
}

#InfoMascota img {
    width: 300px;
    border-radius: 55px;
}

